@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    /* body */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eeecec;
}

#main-text{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}

#sign-up-link{
    /* padding link*/
    padding-top: 10px;
}
#main 
{ /* padding to header Sign up*/
    padding-bottom: 30px;
}

.navbar-tools { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; width: 100%; 
    padding: 0 20px; 
} 

#nav-left {
    margin-right: 150px; 
    display: flex; 
    align-items: center; 
} 

#right-navbar-tools { 
    margin-left: 150px;
    display: flex; 
    align-items: center;
 }

#Trending{
    /* Trending nav */
    margin-left: 10px;
    margin-right: 10px;
}

#Spots{
    /* Spots nav */
    margin-left: 10px;
    margin-right: 10px;
}

#Highlights{
    /* Highlights nav */
    margin-left: 10px;
    margin-right: 10px;
}

#Ratings{
    /* Ratings nav */
    margin-left: 10px;
    margin-right: 10px;
}