@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    /* body */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eeecec;
}

#main-text{
    /* Header text */
    margin-top: 3vh;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}

#sign-up-link{
    /* padding link*/
    padding-top: 10px;
}
#main 
{ /* padding to header Sign up*/
    padding-bottom: 30px;
}

.navbar-tools { 
    /* navbar div */
    display: flex; 
    justify-content: space-between; 
    align-items: center; width: 100%; 
    padding: 0 20px; 
} 

#nav-left {
    margin-right: 150px; 
    display: flex; 
    align-items: center; 
} 

#right-navbar-tools { 
    margin-left: 180px;
    display: flex; 
    align-items: center;
 }

#Trending{
    /* Trending nav */
    margin-left: 10px;
    margin-right: 10px;
}

#Spots{
    /* Spots nav */
    margin-left: 10px;
    margin-right: 10px;
}

#Highlights{
    /* Highlights nav */
    margin-left: 10px;
    margin-right: 10px;
}

#Ratings{
    /* Ratings nav */
    margin-left: 10px;
    margin-right: 10px;
}

#input-box{
    /* location search box */
   font-weight: 500;
   color: #222;
   border-radius: 3px;
   padding: 5px;
   border: none;
   box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
   outline: none;
   transition: .3s;
}

.location-img{
    /*location image blend*/
    padding: 1px;
    mix-blend-mode: multiply;
}

#srch-btn{
    /*search button*/
    padding: 7px;
    margin: 3px;
    color:  #ffffff;
    background: #313030;
}

#btn-w-image{
    /*location btn blend*/
    mix-blend-mode: multiply;
    margin: 3px;
}

.row {
    /* cards row adjustments */
    justify-content: center;
    align-items: center;
    min-height: 50vh; 
    padding: 0; 
    margin: 0; 
}

#card-text{
    /*text card cols*/
    text-align: center;
}

.col {
    /* cards cols adjustments */
    padding: 0 2px; 
    margin: 0; 
    display: flex;
    justify-content: center; 
}

.card {
    /* cards  adjustments */
    width: 100%; 
    max-width: 300px; 
    margin: 2px 0; 
    padding: 0; 
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    transition: 0.2 ease;
}

.card:hover{
    border-color: #222;
}

.card-img-top {
    /* image card */
    height: 200px; 
    object-fit: cover; 
    margin: 0; 
}

.card-body {
     /* elements inside card */
    padding: 10px;
    text-align: center; 
}

.row-cols-md-3 > .col {
    /* cols and rows */
    flex: 0 0 auto; 
    margin-bottom: 2px; 
}

.col:first-child {
    /* first card */
    margin-right: -30px; 
}

.col:last-child {
    /* last card*/
    margin-left: -30px;
}


.footer-text{
    /*footer text --- socials*/
    text-align: center;
}

#footer-btn-img{
    /*image footer button*/
    margin-left: 5px;
    border-radius: 5px; 
 }

 .btn-footer{
    justify-content: center;
}

.footer-index{
    justify-content: center;
    display: flex;
}

#nav-img-1{
    /*margin icon links*/
    margin-left: 5px;
    margin-right: 5px;
}

#nav-img-2{
    /*margin icon links*/
    margin-left: 5px;
    margin-right: 5px;
}

#nav-img-3{
    /*margin icon links*/
    margin-left: 5px;
    margin-right: 5px;
}

#nav-img-4{
    /*margin icon links*/
    margin-left: 5px;
    margin-right: 5px;
}

.copyright-text{
    /*copyright text footer*/
    justify-content: center;
    display: flex;
}

.navbar-brand-footer{
    /*footer external links*/
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-dark{
    /* cards button */
    width: 50%;
    height: 50px;
    background: #555454;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.see-more{
    /* see more button carousel*/
    height: 30px;
    width: 10%;
    mix-blend-mode: multiply;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s; 
}
.see-more:hover{
    background: #313030;
    transform: scale(1.05,1);
}

.carousel{
    /* carousel */ 
    margin-top: 1px;
    height: 530px;
    overflow: hidden;
    position: relative;
}

.carousel .list{
    position: absolute;
    width: 800px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-39%);
}

/*.carousel .list .item{
    
}*/
